body {
  text-align: center;
  background-color: #fff;
}

h1 {
  font-family: 'NewUnicodeFont', sans-serif;
  letter-spacing: 15px;
  font-size: 100px;
  margin: 0px;
  color: #0C0C0C;
  margin-left: 10px;
}

h2 {
  font-size: 18px;
  color: #0C0C0C;
  font-family: 'Nothing You Could Do', cursive;
  margin: 25px;
  margin-left: 15px;
}


button {
 margin-right: 480px;
 background: none;
 font-size: 40px;
 width: 226px;
 font-family: 'NewUnicodeFont', sans-serif;
 border: none;
 margin-bottom: 15px;
 margin-left: 15px;
}

button:active {
  background: #C20022;
  outline: none;
  border: none;
  border-radius: 10px;
}

ul {
  background-image: url("../No-Graffiti.gif");
  background-size: contain;
  width: 129px;
  height: 250px;
  border-radius: 25px;
  list-style: none;
  margin-left: 50px;
  margin-top: -210px;
  float: left;
  box-shadow: 10px 10px 10px 0 black;
  transform: rotate(-10deg);
}

li {
  margin-top: 150px;
  margin-right: 110px;
  font-size: 40px;
  font-family: 'NewUnicodeFont', sans-serif;
  color: #0C0C0C;
  height: 100px;
}

footer {
  position: fixed;
  clear: both;
  bottom: 0;
  left: 510px;
  margin: 35px;
  font-size: 18px;
  color: #0C0C0C;
  font-family: 'Nothing You Could Do', cursive;
}

.balloon {
  height: 150px;
  width: 150px;
  position: absolute;
  background-image: url("../Hearts.png");
  background-size: 150px 150px;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
}

.game-space {
  position: absolute;
  width: 860px;
  height: 600px;
  overflow: hidden;
  margin-left: 285px;
  z-index: +1;
  border: 5px solid #0C0C0C;
  border-radius: 5px;
  cursor: url('../Spray.png'),auto;
  background-image: url("../017_sfdr.jpg");
  margin-bottom: 150px;
}

.game-over {
  width: 100%;
  height: 1px;
  bottom: 470px;
}

#girl {
 margin-left: -118px;
 margin-top: 120px;
 height: 500px;
 float: left;
 padding: 0;
 z-index: -1;
 border: 0;
}


#love {
  color: #C20022;
  letter-spacing: 30px;
  unicode-bidi:bidi-override;
  direction: rtl;
  margin-right:20px;
  margin-left: -15px;
}


#CCTV {
  height: 150px;
  float: right;
  margin-top: -150px;
}


