body {
  text-align: center;
  
}

table {
  margin: 0 auto;
}
.Balloon {
  height: 200px;
  width: 200px;
  position: absolute;
  background-image: url("../Heart.png");
  background-size: 200px 200px;
  background-repeat: no-repeat;
  bottom: 0;
}

.Balloon:hover {
  transform: scale(1.2);
}

.Game-Space {
  position: relative;
  height: 500px;
  width: 500px;
  background-color: white;
  margin: 0 auto;
  overflow: hidden;
}