body {
  text-align: center;
}

table {
  margin: 0 auto;
}
.Balloon {
  height: 150px;
  width: 150px;
  background-color: red;
  position: absolute;
  background-image: url("../Images/Balloon.jpg");
  background-size: cover;
}

.Game-Space {
  position: relative;
  height: 1000px;
  width: 1000px;
  background-color: white;
  margin: 0 auto;
}